.main {
  font-family: 'Spoqa Han Sans Neo';
}

.fiveMenu {
  display: flex;
  list-style: none;
  justify-content: center;
  color: #F1F1F1;
  margin: 60px 0 40px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.posiItem {
  display: flex;
  align-items: center;
  height: 75px;
  margin: 0 20px;
}

.inactiveMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
  color: #f1f1f1;
  text-decoration: none;
  padding: 6px;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Spoqa Han Sans Neo';
  cursor: pointer;
  opacity: 0.4;
}

.posiButton:hover {
  opacity: 1;
}

.activeMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
  color: #f1f1f1;
  text-decoration: none;
  padding: 6px;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 20px;
  font-weight: 500;
}

.posiIcon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
  
.selectChamp {
  display: flex;
  justify-items: center;
  width: 730px;
  margin: 30px auto 60px;
  text-align: center;
}

.noImage {
  margin: 100px auto;
  font-size: 20px;
  font-weight: 500;
  color: #E2DCC8;
  opacity: 0.5;
}

.noImageBright {
  margin: 100px auto;
  font-size: 20px;
  font-weight: 500;
  color: #E2DCC8;
}

.champImgContainer {
  position: relative;
  margin: 0px auto;
  height: 350px;
  width: auto;
  text-align: center;
}

.empty{
  background-color: #E2DCC8;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.unrecChamp {
  /* object-fit: cover; */
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 0px auto;
  background-color: #E2DCC8;
  text-align: center;
  opacity: 0.4;
}

.unrecChamp:hover {
  opacity: 1;
  cursor: pointer;
}

.recChamp {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 0px auto;
  background-color: #E2DCC8;
  text-align: center;
  opacity: 1;
}

.champImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.ChampImage {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-color: #E2DCC8;
  text-align: center;
  transform: scale(1.11);
}

.champName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.champKorName {
  margin-top: 20px;
  color: #f1f1f1;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.champEngName {
  margin-top: 5px;
  color: #f1f1f1;
  font-size: 0.96rem;
  font-weight: 300;
  text-align: center;
}

.body {
  overflow: hidden;
  margin: 30px 0;
}

.buttonArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.canChange {
  font-size: 15px;
  font-weight: 400;
  color: #E2DCC8;
  margin-top: 60px;
}

.itemRecButtonBefore {
  width: 190px;
  margin: 30px auto;
  padding: 14px 1px;
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}

.itemRecButtonBefore:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.itemRecButton {
  padding: 12px 20px;
  background-color: #E2DCC8;
  border-color: transparent;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #0f3d3e;
  cursor: pointer;
  font-family: 'Spoqa Han Sans Neo';
}



@media (max-width: 870px) {

  .posiItem {
    margin: 0px 12px;
  }

  .champImgContainer {
    height: 300px;
    width: auto;
  }

  .unrecChamp {
    border-radius: 6px;
  }

  .recChamp {
    border-radius: 6px;
  }
  
  .champImg {
    border-radius: 6px;
  }

  .selectChamp {
    width: 90%;
  }

  .itemRecButton {
    padding: 12px 14px;
    font-size: 18px;
  }

}

@media (max-width: 585px) {

  .fiveMenu {
    margin: 10px 10px 40px;
    flex-wrap: wrap;
  }

  .posiItem {
    height: 45px;
    margin: 0px 8px;
  }

  .selectChamp {
    width: 90%;
  }

  .noImage {
    font-size: 16px;
  }

  .noImageBright {
    font-size: 16px;
    line-height: 28px;
  }

  .inactiveMenu {
    font-size: 15px;
  }

  .activeMenu {
    font-size: 15px;
  }

  .posiIcon {
    height: 26px;
    width: 26px;
  }

  .selectChamp {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }

  .champImgContainer {
    display: flex;
    height: 155px;
    width: 100%;
  }

  .unrecChamp {
    display: flex;
    border-radius: 6px;
    background-color: transparent;
  }

  .recChamp {
    display: flex;
    border-radius: 6px;
    background-color: transparent;
  }
  
  .champImg {
    border-radius: 6px;
    height: 140px;
    width: 140px;
    background-color: transparent;
  }

  .ChampImage {
    width: 100%;
    height: auto;
  }

  .champName {
    margin-left: 15px;
  }

  .champKorName {
    font-size: 16px;
    text-align: left;
  }

  .champEngName {
    font-size: 14px;
    text-align: left;
  }

  .body {
    margin-bottom: 15px;
  }

  .canChange {
    margin-top: 0;
    width: 200px;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
  }

  .itemRecButton {
    padding: 9px 14px;
    font-size: 16px;
  }


}
